.container {
  max-width: 160rem;
  margin: 0 auto;
}

.main__heading {
  font-size: 6.4rem;
  font-weight: bold;
  text-align: center;
  color: var(--color-primery-2);
  padding-bottom: 4rem;

  span {
    font-size: inherit;
    color: var(--color-primery-1);
  }
}

.hidden {
  display: none;
}

.small__nav {
  width: 100%;
  background-color: var(--color-white);

  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);

  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;

  position: sticky;
  top: 0;

  @media only screen and (max-width: $bp-extra-large) {
    display: flex;
  }

  &-logo {
    flex-basis: 35rem;
    img {
      width: 100%;
    }
  }

  &-menu {
    background-color: var(--color-primery-2);
    color: var(--color-white);
    font-size: 2.6rem;
    padding: 1rem 2.5rem;

    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;

    transition: all 0.2s;

    &:hover {
      background-color: var(--color-primery-1);
    }

    &:active {
      filter: brightness(0.5);
    }
  }
}

.close-icon {
  display: none;

  background-color: var(--color-white);
  border: none;
  font-size: 3.6rem;
  position: absolute;
  right: 2.5rem;
  top: 2.5rem;
  color: var(--color-primery-2);
  cursor: pointer;

  &:hover {
    color: var(--color-primery-2);
  }

  @media only screen and (max-width: $bp-extra-large) {
    display: inline-block;
  }
}

.footer__sub-heading {
  font-size: 3rem;
  color: var(--color-white);
  padding-bottom: 2rem;
}

.link {
  &:link,
  &:visited {
    text-decoration: none;
    color: var(--color-primery-2);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: -1rem;
  }
}

.more {
  &:link,
  &:visited {
    display: block;
    text-align: right;
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-primery-1);
    padding: 2rem;
    text-decoration: none;
  }
}

.icon {
  margin-right: 1rem;
  font-size: 3rem;
}

.dropdown {
  position: relative;

  &:hover &__list {
    display: block;
  }

  &__list {
    display: none;
    position: absolute;
    top: 5rem;
    width: 150%;
    z-index: 1;

    overflow: hidden;

    background-color: var(--color-white);
    border: 2px solid var(--color-primery-1);

    @media only screen and (max-width: $bp-extra-large) {
      position: relative;
      top: 1rem;
      width: 50%;
    }

    &-link {
      &:link,
      &:visited {
        text-decoration: none;
        display: block;
        width: 100%;
        padding: 2rem;
        font-size: 2rem;
        font-weight: 600;
        color: var(--color-primery-2);

        &:not(:last-child) {
          border-bottom: 1px solid var(--color-primery-1);
        }

        &:hover,
        &:active {
          background-color: var(--color-primery-1);
          color: var(--color-white);
        }
      }
    }
  }
}
